@using BigCookie.Document
@{
    Layout = null;
    List<BodyTable> RequestBody = ViewBag.RequestBody as List<BodyTable>;
    List<BodyTable> ResponseBody = ViewBag.ResponseBody as List<BodyTable>;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/document-jquery.min.js" type="text/javascript"></script>
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        html, body {
            width: 100%;
            height: 100%;
        }

        .request-uri {
            display: block;
            border: 1px solid #ddd;
            background-color: #fafafa;
            color: #217dbb;
            padding: 20px 20px 20px 20px;
            margin-bottom: 1px;
        }

            .request-uri .title {
                font-size: 20pt;
            }

            .request-uri .route {
                font-size: 12pt;
                margin: 0 10px;
            }

        .request-body {
            display: block;
            border: 1px solid #ddd;
            background-color: #fafafa;
            color: #217dbb;
            padding: 20px 20px 20px 20px;
            margin-bottom: 1px;
        }

            .request-body .title {
                font-size: 20pt;
                margin-bottom: 10px;
                display: block;
            }

            .request-body .table {
                font-size: 12pt;
                width: 800px;
            }

        table {
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            text-align: center;
        }

            table tr:nth-child(2n+1) {
                background-color: aliceblue;
            }

            table th {
                border-left: 1px solid #ddd;
                border-top: 1px solid #ddd;
                padding: 8px;
                text-align: left;
            }

            table td {
                border-left: 1px solid #ddd;
                border-top: 1px solid #ddd;
                padding: 8px;
                text-align: left;
            }

        .json {
            width: 780px;
            border: 1px solid #ddd;
            background-color: #fafafa;
            resize: none;
            padding: 10px;
            border-radius: 5px;
        }
    </style>
</head>

<body>

    <div class="request-uri">
        <span class="title">接口地址:</span>
        <span class="route">@(Context.Request.Scheme+"://"+Context.Request.Host+ViewBag.Uri)</span>
    </div>
    <div class="request-uri">
        <span class="title">请求方式:</span>
        <span class="route">@(ViewBag.Method)</span>
    </div>
    <div class="request-body">
        <span class="title">请求参数:</span>
        <table class="table" border="0" cellspacing="0">
            <tr>
                <td>名称</td>
                <td width="100">类型</td>
                <td width="70">必填</td>
                <td width="300">注释</td>
            </tr>
            @foreach (var item in RequestBody)
            {
                <tr>
                    <td>@item.FieldName</td>
                    <td>@item.TypeName</td>
                    <td>@item.IsRequire</td>
                    <td>@item.Comment</td>
                </tr>
            }
        </table>
    </div>

    <div class="request-body">
        <span class="title">请求报文示例:</span>
        <textarea class="json" autoHeight id="requestJson" disabled></textarea>
    </div>

    <div class="request-body">
        <span class="title">响应参数:</span>
        <table class="table" border="0" cellspacing="0">
            <tr>
                <td>名称</td>
                <td width="100">类型</td>
                <td width="70">必填</td>
                <td width="300">注释</td>
            </tr>
            @foreach (var item in ResponseBody)
            {
                <tr>
                    <td>@item.FieldName</td>
                    <td>@item.TypeName</td>
                    <td>@item.IsRequire</td>
                    <td>@item.Comment</td>
                </tr>
            }
        </table>
    </div>

    <div class="request-body">
        <span class="title">响应报文示例:</span>
        <textarea class="json" autoHeight id="responseJson" disabled></textarea>
    </div>

    <script>
        $(function () {
            var requestJson = JSON.stringify(@Html.Raw(ViewBag.RequestJson), null, '    ');
            $("#requestJson").text(requestJson);
            var responseJson = JSON.stringify(@Html.Raw(ViewBag.ResponseJson), null, '    ');
            $("#responseJson").text(responseJson);

            $.fn.autoHeight = function () {
                function autoHeight(elem) {
                    elem.style.height = 'auto';
                    elem.scrollTop = 0;
                    elem.style.height = elem.scrollHeight + 'px';

                }
                this.each(function () {
                    autoHeight(this);
                    $(this).on('keyup', function () {
                        autoHeight(this);
                    });
                });
            }
            $('textarea[autoHeight]').autoHeight();
        })
    </script>
</body>

</html>